<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <main>
      <h2>
        <%- locals.user ? `Welcome, ${user.firstName} ${user.lastName}!` :
        'Welcome!' %>
      </h2>
      <a href="/join-the-club">JOIN THE CLUB</a>
      <form action="/log-out" method="post">
        <button type="submit">LOG OUT</button>
      </form>
      <div>
        <% if(typeof messages !== 'undefined' && messages?.length){
        messages.forEach(message => {%>
        <div>
          <h3><%= message.title%></h3>
          <p><%= message.content %></p>
        </div>
        <%});}%>
      </div>
    </main>
  </body>
</html>
