<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="icon" type="image/x-icon" href="/icons/main-icon.svg" />
  </head>
  <body class="d-flex flex-column">
    <%- include('./partials/header') %>
    <main class="main-content">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container flex-column d-flex align-items-center">
          <h2>Log in</h2>
          <div>
            <ul>
              <% if(typeof errors !== 'undefined' && Array.isArray(errors) &&
              errors.length) {%> <% errors.forEach(error => { %>
              <li><%= error %></li>
              <%}); }%>
            </ul>
          </div>
          <form action="/log-in" method="post" class="flex-column d-flex">
            <label class="mb-3" for="username"
              >Username
              <input
                class="form-control"
                type="text"
                name="username"
                id="username"
              />
            </label>
            <label class="mb-3" for="password"
              >Password
              <input
                class="form-control"
                type="password"
                name="password"
                id="password"
              />
            </label>
            <input class="btn" type="submit" value="LOG IN" />
          </form>
          <p class="mt-3">
            Don't have an account? <a href="/sign-up">Sign up here</a>
          </p>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
