<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <div>
      <ul>
        <% if(typeof messages !== 'undefined' && Array.isArray(messages) &&
        messages.length) {%> <% messages.forEach(message => { %>
        <li><%= message %></li>
        <%}); }%>
      </ul>
    </div>
    <form action="" method="post">
      <label for="username"
        >Username
        <input type="text" name="username" id="username" />
      </label>
      <label for="password"
        >Password
        <input type="password" name="password" id="password" />
      </label>
      <input type="submit" value="LOG IN" />
    </form>
  </body>
</html>
