<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <main>
      <h2>New message</h2>
      <form action="/message/save" method="post">
        <label for="title"
          >Title <input type="text" id="title" name="title" /> </label
        >Message
        <label for="content">
          <textarea name="content" id="content"></textarea>
        </label>
        <input type="submit" value="SAVE" />
      </form>
    </main>
  </body>
</html>
