<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <main>
      <div>
        <ul>
          <% if(typeof messages !== 'undefined' && Array.isArray(messages) &&
          messages.length) {%> <% messages.forEach(message => { %>
          <li><%= message %></li>
          <%}); }%>
        </ul>
      </div>
      <form action="/sign-up" method="post">
        <label for="firstName"
          >First name
          <input
            type="text"
            name="firstName"
            id="firstName"
            value="<%- user?.firstName %>"
          />
        </label>
        <label for="lastName"
          >Last name
          <input
            type="text"
            name="lastName"
            id="lastName"
            value="<%- user?.lastName %>"
          />
        </label>
        <label for="username"
          >Username
          <input
            type="text"
            name="username"
            id="username"
            value="<%- user?.username %>"
          />
        </label>
        <label for="password"
          >Password
          <input type="password" name="password" id="password" />
        </label>
        >Confirm password
        <label for="confirmPassword">
          <input type="password" name="confirmPassword" />
        </label>
        <input type="submit" value="SIGN UP" />
      </form>
    </main>
  </body>
</html>
